<!doctype html>
<html>
<head>
    <title>Tailor Example Application</title>
    <!--  TODO: Want to use webcomponents-loader.js included in webcomponents-bundle.min.js.  -->
    <!--  Loading it to render the Shadow DOM for SEO. (Technically proxying rendertron).  -->
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.4.4/webcomponents-bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <style>
        body {
            background: #ECEFF4;
        }
    </style>
</head>
<body>
<search-box></search-box>
<fragment src="http://localhost:7010"></fragment>
<fragment src="http://localhost:7000"></fragment>
<fragment src="http://localhost:8010"></fragment>
<fragment src="http://localhost:8000"></fragment>
</body>
</html>
